@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mochiy Pop P One, sans-serif;

}


body {
    background-color: #007bff;
}

/* nav section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0263ca;
    font-weight: 500;
    padding: 10px 10px;
}

.brand-title {
    margin: .5rem;
}

.brand-title a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 2rem;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #328dee;
    border-radius: 10px;
}

.toggle-button {
    position: absolute;
    top: 28px;
    right: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}


/* game home screen section */
.home_screen,
.quiz_box,
.result_box,
.help_box,
.credits_box {
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 1.5em;
}

.home_screen .home_title {
    text-align: center;
    padding: 15px 0;
    font-weight: 500;
    border-bottom: black solid 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.home_start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_start .info {
    font-size: 1.6rem;
    border: 1px solid black;
    padding: 5px 75px;
    margin: 45px 0;
    border-radius: 10px;
}

.home_start .info:hover {
    background-color: #004085;
    color: #fff;
    cursor: pointer;
}

/* quiz section */

.quiz_box .question {
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 10px 35px;
    pointer-events: none;
}

 .quiz_box .option.correct {
    margin: 35px 35px;
    border: 2px solid #0263ca;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: green;
    pointer-events: none;
}

.quiz_box .option.incorrect {
    margin: 35px 35px;
    border: 2px solid #0263ca;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: red;
}

.quiz_box .option.remove {
    pointer-events: none;
}

.quiz_box .option {
    margin: 35px 35px;
    border: 2px solid #0263ca;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.quiz_box .option:hover {
    background-color: #cce5ff;
}

.footer_quiz {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    border-top: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);
}

.footer_quiz .total_que {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    pointer-events: none;
    background-color: #cce5ff;
}

.footer_quiz .next_btn {
    border-radius: 10px;
    padding: 5px 35px;
    cursor: pointer;
}

.footer_quiz .next_btn:hover {
    background-color: #cce5ff;
}


/* result box section */

.result_box .icon {
    text-align: center;
    font-size: 5.0rem;
    color: yellowgreen;
}

.result_box .complete_text {
    text-align: center;
    padding-top: 35px;
}

.result_box .score {
    text-align: center;
}

.result_box .buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 35px 20px 35px;
}

.result_box .buttons .exit {
    border-radius: 10px;
    padding: 15px;
}

.result_box .buttons .replay {
    border-radius: 10px;
    padding: 15px;
}

.result_box .buttons .replay:hover {
    background-color: #cce5ff;
    cursor: pointer;
}

.result_box .buttons .exit:hover {
    background-color: #cce5ff;
    cursor: pointer;
}


/* help me section */

.help_title {
    text-align: center;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    pointer-events: none;
}

.rules {
    padding: 0 15px;
    pointer-events: none;
}

.rules .rule {
    margin: 25px 0;
    padding: 10px 35px;
    border: 2px solid black;
    border-radius: 10px;
}

.help_box .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

.help_box .buttons .exit {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.help_box .buttons .replay {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.help_box .buttons .exit:hover,
.replay:hover {
    background-color: #cce5ff;
}


/* credits section */

.credits_title {
    text-align: center;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    pointer-events: none;
}

.credits {
    padding: 0 15px;
    pointer-events: none;
}

.credits .credit {
    margin: 45px 0;
    padding: 10px 35px;
    border: 2px solid black;
    border-radius: 10px;
}

.credits_box .buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

.credits_box .buttons .exit,
.replay {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.credits_box .buttons .exit:hover,
.replay:hover {
    background-color: #cce5ff;
}


/* footer section */

footer {
    background-color: #0263ca;

}

.footer_info {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
}

.footer_links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.footer_link a {
    color: black;
    font-size: 1.8rem;
}

/* media queries */

@media (max-width:540px) {

    .home_screen,
    .help_box,
    .credits_box,
    .quiz_box {
        width: 90%;
        margin: 88px auto;
        font-size: 1.5rem;
    }

    .brand-title a {
        font-size: 1.4rem;
    }

    .toggle-button {
        display: flex;
        right: 3rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
    footer {
        height: 165px;
    }

}

@media (min-width:750px) {

    .home_screen,
    .help_box,
    .credits_box,
    .quiz_box {
        width: 90%;
        margin: 140px auto;
        font-size: 1.5rem;
    }
    
    .brand-title {
        font-size: 1.4rem;
    }

    footer {
        height: 155px;
    }
}

@media (min-width:800px) {

    .home_screen,
    .help_box,
    .credits_box,
    .quiz_box {
        width: 90%;
        margin: 220px auto;
        font-size: 1.5rem;
    }
}

@media (min-width:900px) {

    .home_screen,
    .help_box,
    .credits_box,
    .quiz_box {
        width: 90%;
        margin: 340px auto;
        font-size: 1.5rem;
    }

    footer {
        height: 120px;
    }
}

@media (min-width:1000px) {

    .home_screen,
    .quiz_box,
    .result_box,
    .help_box,
    .credits_box {
        margin: 50px auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 60%;
        background-color: aliceblue;
        border-radius: 10px;
        font-size: 1.5em;
    }
}